body,html {
height: 100%;
margin: 0;

}
.holder{
  padding-left:  100px;
  /*background-color: var(--gray);*/
  position: absolute;
  height: 50%;
  top: 25%;
}
.holder p{
  padding-left: 15px;
}
.holder h1{
  text-shadow:  2px 2px var(--dark);
  font-size: 100px;
  margin-bottom: 0;
  margin-top: 0;
}

/* background effect*/
iframe{
  height: 100%;
  width: 100%;
  position: fixed;
  left:0;
  top:0;
  z-index: -1;
  overflow: hidden;
}
/* end of backround effect*/
