body,html {
height: 100%;
margin: 0;

}
.holder{
  padding-left:  85px;
  padding-top: 15%;
  background-color: var(--gray);
}
.holder p{
  padding-left: 15px;
}
.holder h1{
  text-shadow:  2px 2px var(--dark);
  font-size: 100px;
  margin-bottom: 0;
  margin-top: 0;
}
